body {
	margin: 0;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	margin-right: 18em;
	margin-left: 18em;
	margin-top: 6em;
	margin-bottom: 4em;
	padding: 2em;
}

body p {
    font-family: 'Crimson Text', serif;
    font-size: 5em;
    font-weight: 400;
    line-height: 2em;
    color: #f0f0f0;
    text-align: center;
}

body p a {
    text-decoration: none;
}

body p a:link, body p a:visited {
    color: #f0f0f0;
}

body p a:hover, body p a:active {
    color: chocolate;
}

header, footer {
	padding: 0.5em;
}

header, footer {
	left: 16em;
	right: 0;
}