body {
    --primary-color: black;
    --menu-color: whitesmoke;
    --menu-background-color: grey;
    --menu-font-size: 175%;

    font-family: 'Crimson Text', serif;
    font-size: 125%;
    color: var(--primary-color)
}

a {
    text-decoration: none;
}

:is(nav, header, footer) a {
    color: var(--menu-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

header a {
    font-size: 200%;
}

header, footer {
    background-color: var(--menu-background-color);
}

footer > * {
    font-size: 150%;
}

:is(h1, h2, h3, h4, h5, h6) {
    position: relative;
}

:is(h1, h2, h3, h4, h5, h6) > a {
    color: var(--primary-color);
    cursor: pointer;
}

.anchor::before {
    content: "\1f517";
    position: absolute;
    left: -2rem;
    top: .3em;
    font-size: 1rem;
}

.label::after {
    content: ": ";
}

.inline-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}

.inline-list li {
    display: inline;
}

.inline-list li:not(:last-child)::after {
    content: ", "
}

.specifications {
    display: grid;
}

.hint {
    font-weight: lighter;
    font-size: 80%;
    margin-inline-start: 1ch;
}